.background-image {
    background: rgba(179, 90, 179, 0.3) /* Green background with 30% opacity */
}

.nav-button {
    margin: 0 .5rem;
}


.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.caption {
    opacity: 1;
}

.footer {
    background-color: lightpink;
    margin: 2rem 0;
    padding: 1rem 0;
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

.header-padding {
    padding: 10px;
}

